BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 100

# Pointer and reference alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

# Indentation
IndentCaseLabels: false
NamespaceIndentation: None
AccessModifierOffset: -2

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Breaking
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
AllowAllParametersOfDeclarationOnNextLine: true

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Other
MaxEmptyLinesToKeep: 1
ReflowComments: false
SortIncludes: false
